:root {
    --background-color: white;
}

body {
    line-height: normal;
}

hr {
    width: 95%;
}

/* Intro */
.display-container {
    width: 100%;
    height: 100%;

    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
}

.display-parent {
    --height: 85vh;
    height: var(--height);
    position: relative
}

.display-bg {
    width: 100%;
    height: 100%;
    background-size: cover;

    background-position: center;
    position: inherit;
    top: 0;
    z-index: -1; 
}

.slope-bottom {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.slope-top {
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
}

.intro-title {
    color: white;
    font-size: 3rem;
}

.center-half {
    position: relative;
    max-width: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

/* Profile */
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .profile img {
        /* border: solid #1E1E1E 6px; */
        border-radius: 50%;
        width: 200px;
        height: 200px;
        object-fit: cover; /* or contain */
        /* padding: 5px; */
        margin-bottom: 20px;
    }

    .profile h1 {
        margin-bottom: .25rem;
        border-bottom-style: solid;
        border-color: rgba(0, 0, 0, 0.25);
        font-weight: 600;
        font-size: xx-large;
    }

    .profile label {
        font-size: 1rem;
        margin-bottom: 10px;
    }

.mb {
    margin-bottom: 50px;
}

.large-header {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.underline {
    border-bottom-style: solid;
    border-color: rgba(0, 0, 0, 0.25);
}

.even-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
}

.center-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Animations */
.fade-in {
    animation-duration: 750ms; 
    animation-timing-function: ease-in-out; /* how the animation will behave */
    animation-name: fadeIn; /* the name of the animation we defined above */
}

.user-content {
    margin-top: 1rem;
}

.user-content h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin-bottom: 20px;
}

.user-content h1 {
    font-size: 3rem;

    border-bottom-style: solid;
    border-color: rgba(0, 0, 0, 0.25);
}

.user-content h2 {
    font-size: 2.5rem;
}

.user-content h3 {
    font-size: 2rem;
}

.user-content p {
    font-size: 1.1rem;
    max-width: 60vw;
    margin-bottom: 2rem;
    text-align: center;
    line-height: 1.75rem;
}

.user-content img {
    display: block;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
/* Open Iconic Style Fix */
span[class^="fi-"] {
    vertical-align: middle;
}