<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        {% for metatag in site.metatags %}
            <meta name="{{ metatag.name }}" content="{{ metatag.content }}">
            {% if metatag.og %}
                <meta name="og:{{ metatag.name }}" content="{{ metatag.content }}">
            {% endif %}
        {% endfor %}

        <title>{{ site.title }} - {{ page.title }}</title>
        <link rel="icon" type="image/png" href="{{ site.icon }}">

        <link rel="stylesheet" href="/themes/default/static/bulma.min.css">
        <link rel="stylesheet" href="/themes/default/static/styles.css">

        <link href="/themes/default/static/aos.css" rel="stylesheet">
        <script src="/themes/default/static/aos.js"></script>
    </head>
    <body class="has-navbar-fixed-top">
        <nav class="navbar is-fixed-top is-transparent" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="/logo.svg" width="112" height="28">
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <!-- Redo this, possibly with a recursive function -->
            <div class="navbar-menu">
                <div class="navbar-start">
                    {% for navitem in site.navitems %}
                        {% if navitem.link %}
                            <a class="navbar-item" href="{{ navitem.link }}">
                                {{ navitem.name }}
                            </a>
                        {% elif navitem.items %}
                            <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link">
                                    {{ navitem.name }}
                                </a>
                                <div class="navbar-dropdown">
                                    {% for item in navitem.items %}
                                        <a class="navbar-item" href="{{ item.link }}">
                                            {{ item.name }}
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </nav>
        <main>
            {% block content %}
            {% endblock content%}
        </main>
        <script>
            AOS.init();
        </script>
    </body>
</html>