{% extends "_base.njk" %}

{% block content %}
    <div class="display-parent">
        <div class="display-container">
            <div class="display-bg slope-bottom" style="background-image: url(/static/background.png)"></div>
            <h1 class="intro-title fade-in">{{ site.header }}</h1>
        </div>
    </div>
    <div class="center-col mb">
        <h1 class="large-header underline">People</h1>
        <section class="even-row">
            {{ profile("/static/joosh.png", "Josh", "He is dead to me.") }}
            {{ profile("/static/mickel.png", "Michael", "Made this Site/CMS") }}
            {{ profile("/static/gab.jpg", "Gabe", "Double O Gabe...") }}
        </section>
    </div>
    <div class="display-parent">
        <div class="display-container">
            <div class="display-bg slope-top" style="background-image: url(/static/background2.png)"></div>
        </div>
    </div>
{% endblock content %}

{% macro profile(src, name, desc) %}
    <div class="profile">
        <img src="{{ src }}">
        <h1>{{ name }}</h1>
        <label>{{ desc }}</label>
    </div>
{% endmacro %}